.container {
  width: 100%;
  height: 100%;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.rewardcontainer {
  padding: 0rem 2rem 2rem 2rem;
  margin: 3rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #2E1503;
}

.body {
  width: 100%;
  height: 100%;
}

.title {
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
  font-family: Gloria Hallelujah;
  color: #ffd100;
}

.rewardtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 0rem 0rem;
  margin: 1rem 0rem 0rem 0rem;
  font-size: 3rem;
  font-family: Gloria Hallelujah;
  color: #ffd100;
}


.eightwall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.iframe {
  width: 22rem;
  height: 40rem;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  margin: 0rem 0rem 1rem 0rem;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #000000;
  background-color: #ffd100;
  font-family: Gloria Hallelujah;
  font-weight: 700;
  border: 1px none transparent;
  border-radius: 10px;
  width: 100%;
}

.dynamicButton {
  background-color: #0a9333 !important;
  color: white !important;
  margin: 1rem 0rem 1.5rem 0rem !important;
  padding: 0.75rem 1.5rem !important;
  border-color: transparent !important;
  border: 0px !important;
  font-family: Gloria Hallelujah !important;
  font-weight: 700 !important;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  background-color: #FFD200;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0rem;
  justify-content: space-between;
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}

.footer a {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0rem;
  align-items: center;
  flex-grow: 1;
  color: #f1f1f1;
  text-decoration: none;
}

.footer:hover,
.footer:focus,
.footer:active {
  cursor: pointer;
  color: #f1f1f1;
}

.logo {
  height: 1.5rem;
  margin-left: 0.5rem;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#console {
  width: 100%;
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  font-size: 16px;
  font-family: monospace;
}
